:root {
  --form-padding: 30px;
  --form-border-padding: calc(var(--form-padding) - 10px);
  --color-form-frame: rgba(255, 255, 255, 0.12);
}

.form {
  padding-bottom: 20px;

  &-group {
    margin-top: 30px;
  }

  &-row {
    border: 1px solid var(--color-form-frame);
    background: rgba(255, 255, 255, 0.02);
    border-top: none;
    margin: 0 var(--form-border-padding);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    transition: opacity .25s ease-out;

    &.disabled > * {
      pointer-events: none;
      opacity: 0.5;
    }

    &:first-child {
      border-top: 1px solid var(--color-form-frame);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom: 1px solid var(--color-form-frame);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }


  h4 {
    padding: 0 var(--form-padding);
    font-size: 13px;
    text-align: left;
    margin: 0 0 10px;
  }
}
