html {
    background-color: rgba(27, 38, 54, 0.1);
    text-align: center;
    color: white;
}

body {
    margin: 0;
    color: rgba(255, 255, 255, 0.89);
    font-family: -apple-system, "Helvetica Neue",
    sans-serif;
}

body, html {
  overflow: hidden;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}


#app {
  height: 100vh;
}

h3 {
  font-size: 15px;
  padding: 0 var(--form-padding);
  text-align: left;
}
