:root {
  --form-padding: 30px;
  --form-border-radius: 5px;
  --form-border-padding: calc(var(--form-padding) - 10px);
  --color-form-frame-outer: rgba(255, 255, 255, 0.12);
  --color-form-frame-inner: rgba(255, 255, 255, 0.05);
}

.form {
  padding-bottom: 20px;
  line-height: 1;

  &-group {
    margin-top: 30px;
  }

  &-rows {
    margin: 0 var(--form-border-padding);
    border: 0.5px solid var(--color-form-frame-outer);
    background: rgba(255, 255, 255, 0.01);
    border-radius: var(--form-border-radius);
    box-shadow: inset 0 0 0 0.5px var(--color-form-frame-inner);
  }

  &-row {
    padding: 14px 10px 6px;
    min-height: 37px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    transition: opacity .25s ease-out;
    position: relative;

    &.centered {
      align-items: center;
      padding: 6px 10px;
    }

    &::after {
      display: block;
      position: absolute;
      width: calc(100% - 18px);
      height: 1px;
      background-color: var(--color-form-frame-inner);
      content: '';
      bottom: -1px;
      left: 9px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-actions {
      text-align: right;
    }

    &.column {
      flex-direction: column;
    }

    &.disabled > * {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .form-heading {
    padding: 0 var(--form-padding);
    display: flex;
    justify-content: space-between;
    h4 {
      padding: 0;
    }
  }


  h4 {
    padding: 0 var(--form-padding);
    font-size: 13px;
    text-align: left;
    margin: 0 0 10px;
    font-weight: 600;
  }
}
