.mac {
  --color-background-transparent: rgba(27, 38, 54, 0.1);
  --color-background-main: #282828;
  --color-text: rgba(255, 255, 255, 0.9);
  --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

body, html {
  overflow: hidden;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}

#app {
  height: 100vh;
}

h3 {
  font-size: 15px;
  font-weight: 550;
  padding: 0 var(--form-padding);
  text-align: left;
}

.blurred h3 {
  opacity: 0.35;
}
