:root {
  --color-background-transparent: rgba(27, 38, 54, 0.1);
  --color-background-main: #282828;
  --color-text: rgba(255, 255, 255, 0.9);
  --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  background-color: var(--color-background-transparent);
  text-align: center;
  color: var(--color-text);
}

body {
  margin: 0;
  font-family: -apple-system, "Helvetica Neue",
    sans-serif;
}

body, html {
  overflow: hidden;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  cursor: default;
}

#app {
  height: 100vh;
}

h3 {
  font-size: 15px;
  padding: 0 var(--form-padding);
  text-align: left;
}
