@font-face {
  font-family: "Nuga Glyphs";
  src: url("frontend/src/assets/fonts/Nuga-glyphs.otf");
  font-weight: 500;
}

body {
  --typography-glyphs-font-family: "Nuga Glyphs";

  margin: 0;
  overflow: hidden;
}

#app .naco {
  overflow: hidden;
  height: 100vh;
  display: flex;
}

